@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<BNI.Models.Event>

    <main>

        <div id="wrap" class="o_wevent_index">


            <nav class="navbar navbar-light border-top shadow-sm d-print-none">
                <div class="container">
                    <div class="d-flex flex-column flex-sm-row justify-content-between w-100">
                        <span class="navbar-brand h4 my-0 me-auto">Events</span>
                        <ul class="o_wevent_index_topbar_filters nav">
                            <li class="nav-item dropdown me-2 my-1">
                                <a href="#"
                                   role="button"
                                   class="btn dropdown-toggle"
                                   data-bs-toggle="dropdown">
                                    <i class="fa fa-folder-open"></i>
                                    Weekly Meeting
                                </a>
                                <div class="dropdown-menu">
                                    <a href="/event?tags=%5B1%5D&amp;date=old"
                                       class="dropdown-item d-flex align-items-center justify-content-between">
                                        Phiên họp hàng tuần
                                    </a>
                                </div>
                            </li>
                           

                            <li class="nav-item dropdown me-2 my-1">
                                    <a href="#" role="button" class="btn dropdown-toggle" id="eventTypeDropdown" data-bs-toggle="dropdown">
                                        <i class="fa fa-calendar"></i>
                                        <span>@ViewBag.EventType</span>
                                    </a>


                                    <div class="dropdown-menu">
                                        <a asp-controller="Event"
                                           asp-action="EventCategory"
                                           asp-route-eventType="all"
                                           class="dropdown-item d-flex align-items-center justify-content-between">
                                            Tất cả các Sự kiện
                                        </a>
                                        <a asp-controller="Event"
                                           asp-action="EventCategory"
                                           asp-route-eventType="past"
                                           class="dropdown-item d-flex align-items-center justify-content-between">
                                            Sự kiện đã qua
                                        </a>
                                        <a asp-controller="Event"
                                           asp-action="EventCategory"
                                           asp-route-eventType="future"
                                           class="dropdown-item d-flex align-items-center justify-content-between">
                                            Sự kiện sắp tới
                                        </a>
                                    </div>
                                </li>


                        </ul>


                        <div class="d-flex align-items-center flex-wrap ps-sm-3 pe-0">
                            <form method="get" class="o_searchbar_form s_searchbar_input" action="@Url.Action("EventSearch", "Event")"
                                  data-snippet="s_searchbar_input">
                                <div role="search" class="input-group o_wevent_event_searchbar_form w-100 my-1 my-lg-0 ">
                                    <input type="search" name="keyword" class="search-query form-control oe_search_box None" placeholder="Tìm kiếm một sự kiện..." value="" data-search-type="events" data-limit="5" data-display-image="true" data-display-description="true" data-display-extra-link="true" data-display-detail="false" data-order-by="name asc" autocomplete="off">
                                    <button type="submit" aria-label="Tìm kiếm" title="Tìm kiếm" class="btn oe_search_button btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>

                                <input name="order" type="hidden" class="o_search_order_by" value="name asc">

                                <input type="hidden" name="order" value="name asc">
                                <input type="hidden" name="date" value="old">
                                <input type="hidden" name="tags" value="">


                            </form>
                        </div>
                    </div>
                </div>
            </nav>

            <div id="oe_structure_we_index_1" class="oe_structure oe_empty"></div>

            <div class="o_wevent_events_list">
                <div class="container">
                    <div class="d-flex mx-n3">
                        <div class="d-flex align-items-center mt16">
                        </div>
                    </div>
                    <div class="row">
                        <div id="o_wevent_index_main_col" class="col-md my-5 opt_events_list_columns">
                            <div class="row">

                                @foreach (var events in Model)
                                {
                                    <div class=" col-md-6 col-lg-4 mb-4">
                                        <a class="text-decoration-none" href="/event/dac-san-ca-bo-kho-1/" data-publish="on">
                                            <article itemscope="itemscope" itemtype="http://schema.org/Event" class="h-100 card border-0 shadow-sm">
                                                <div class="h-100 row g-0">

                                                    <header class="overflow-hidden bg-secondary col-12 ">

                                                        <div class="d-block h-100 w-100">
                                                            <div data-name="Ảnh bìa" data-res-model="event.event" data-res-id="1" class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3   ">
                                                                <div style="background-image: url('@events.Image');" class="o_record_cover_component o_record_cover_image "></div>



                                                                <div class="o_wevent_event_date position-absolute shadow-sm o_not_editable">
                                                                    <span class="o_wevent_event_month" data-oe-type="datetime" data-oe-expression="event.date_begin">Thg 3</span>
                                                                    <span class="o_wevent_event_day oe_hide_on_date_edit" data-oe-type="datetime" data-oe-expression="event.date_begin">08</span>
                                                                </div>



                                                            </div>
                                                        </div>
                                                    </header>
                                                    <div class="col-12  position-relative">

                                                        <main class="card-body">

                                                            <h5 class="card-title mt-2 mb-0 text-truncate ">
                                                                <span itemprop="name">@events.Title</span>
                                                            </h5>

                                                            <time class="o_not_editable" itemprop="startDate" datetime="2023-06-27 23:45:00">
                                                                <span data-oe-type="datetime" data-oe-expression="event.date_begin">@events.StartTime.</span> -

                                                                (<span>Asia/Saigon</span>)
                                                            </time>

                                                            <div class="o_not_editable" itemprop="location" data-oe-type="contact" data-oe-expression="event.address_id">
                                                                <address class="mb-0" itemscope="itemscope" itemtype="http://schema.org/Organization">
                                                                    <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                                                        <div class="d-flex align-items-baseline">
                                                                            <span>
                                                                                <div>
                                                                                    <span itemprop="addressLocality">@events.Address</span>
                                                                                </div>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </address>
                                                            </div>

                                                            <div class="mt8">
                                                                <span class="badge mr4  o_tag_color_9">
                                                                    <span>Phiên họp hàng tuần</span>
                                                                </span>
                                                            </div>
                                                        </main>
                                                    </div>

                                                    <footer class="alert-secondary small align-self-end w-100 card-footer border-top">
                                                        <span>
                                                            Đăng ký đã đóng
                                                        </span>
                                                    </footer>
                                                </div>
                                            </article>
                                        </a>
                                    </div>

                                }



                                <div class="d-flex justify-content-center my-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="oe_structure_we_index_2" class="oe_structure oe_empty"></div>
        </div>

    </main>