@model BNI.Models.Profession

@{
    var members = ViewData["members"] as List<Member>;
    var details = ViewData["details"] as List<ProfessionDetail>;
    var related = ViewData["related"] as List<Profession>;
}

<head>
    <meta property="og:title" content="@Model.Title | BNI Vũng Tàu" />

    <meta name="twitter:title" content="@Model.Title | BNI Vũng Tàu" />

    <title>@Model.Title | BNI Vũng Tàu</title>
</head>

<main>
    <div id="wrap" class="oe_structure oe_empty">
        <section class="s_title o_colored_level o_cc o_cc4 pt120 pb128 oe_img_bg o_bg_img_center" data-vcss="001"
            data-snippet="s_title" data-name="Title"
            style="position: relative; background-image: url(&#34;/images/banner1.jpg&#34;); background-color: rgba(141, 22, 33, 0.54);"
            data-original-id="966" data-original-src="/web/image/966-1ffccdb1/banner%201.jpg" data-mimetype="image/jpeg"
            data-resize-width="1600" data-gl-filter="custom"
            data-filter-options="{&#34;filterColor&#34;:&#34;rgba(219, 0, 0, 0.27)&#34;}">
            <div class="s_allow_columns container">
                <h1 style="text-align: center;">
                    <font class="text-o-color-4" style="text-transform: uppercase;">
                        @Model.Title
                    </font>
                </h1>
            </div>
        </section>
        <section class="s_text_block pt40 pb40 o_colored_level o_cc o_cc2 o_we_force_no_transition"
            data-snippet="s_text_block" data-name="Text" style="position: relative; background-image: none;">
            <div class="s_allow_columns container">
                <blockquote class="o_we_force_no_transition">
                    <span style="font-size: 18px;">@Model.Description2</span>
                    <em>
                        <font class="text-800"></font>
                    </em>
                </blockquote>
            </div>
        </section>
        <section class="s_showcase pt48 o_colored_level pb0 o_cc o_cc1" data-vcss="002" data-snippet="s_showcase"
            data-name="Showcase" style="position: relative; background-image: none;"
            data-oe-shape-data="{&#34;shape&#34;:&#34;web_editor/Zigs/03&#34;,&#34;flip&#34;:[&#34;y&#34;]}">
            <div class="o_we_shape o_web_editor_Zigs_03"
                style="background-image: url(&#34;/images/03.svg?c1=%23cf2131&amp;flip=y&#34;); background-position: 50% 100%;">
            </div>
            <div class="container">
                <div class="row g-0 s_col_no_resize s_col_no_bgcolor s_nb_column_fixed">
                    <div class="col-lg text-lg-end">
                        <div class="row">
                            @foreach (var detail in details.Where(x => x.TypeColumn == "left").OrderBy(x =>
                            x.OrderIndex).ToList())
                            {
                                <div class="col-lg-12 pt24 pb24 o_colored_level" data-name="Block">
                                    <div class="s_showcase_title d-flex flex-lg-row-reverse mb-2">
                                        <i class="@detail.Icon" data-bs-original-title="" title=""
                                            aria-describedby="tooltip689599"></i>
                                        <h3 style="text-align: justify;">
                                            <font class="text-800">@detail.Title</font>
                                        </h3>
                                    </div>
                                    <p style="text-align: justify;">
                                        <font class="text-800">
                                            @detail.Description
                                        </font>
                                        <br />
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="w-50 h-100 border-end"></div>
                    </div>
                    <div class="col-lg">
                        <div class="row">
                            @foreach (var detail in details.Where(x => x.TypeColumn == "right").OrderBy(x =>
                            x.OrderIndex).ToList())
                            {
                                <div class="col-lg-12 pt24 pb24 o_colored_level" data-name="Block">
                                    <div class="s_showcase_title d-flex mb-2" style="text-align: justify;">
                                        <i class="@detail.Icon" data-bs-original-title="" title=""
                                            aria-describedby="tooltip729144"></i>
                                        <h3>
                                            <font class="text-800">@detail.Title</font>
                                        </h3>
                                    </div>
                                    <p style="text-align: justify;">
                                        <font class="text-800">
                                            @detail.Description
                                        </font>
                                        <br />
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-lg-center">
                <p>
                    <br />
                </p>
            </div>
        </section>

        <section data-snippet="s_dynamic_snippet"
            class="s_public_members s_public_member_snippet s_public_member_snippet_temp1 s_dynamic pt32 pb32 o_colored_level s_member_effect_scale"
            data-name="Public Member Snippet" style="background-image: none;" data-filter-by-tag-ids="[2]">
            <div class="o_not_editable container">
                <div class="dynamic_snippet_template">
                    <div class="container mb32">
                        <div class="">
                            <div class="mb-5 o_member_search_bar">
                                <div role="search" class="input-group input-group-lg">
                                    <input type="search" name="keyword" id="member-search-query" class="form-control"
                                        placeholder="Nhập tên, tên công ty" data-search-type="members" data-limit="5"
                                        data-display-image="true" data-display-description="true"
                                        data-display-extra-link="true" data-display-detail="false"
                                        data-order-by="name asc">
                                    <button id="btn_search"
                                        class="btn oe_search_button border border-dark pe-md-5 px-md-5"
                                        aria-label="Tìm kiếm" title="Tìm kiếm">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <button id="btn_close_search" style="display:none;" type="button"
                                        class="btn-close o_member_search_close" aria-label="Đóng"></button>
                                </div>

                                <input name="order" type="hidden" class="o_search_order_by" value="name asc">
                                <input type="hidden" name="order" value="name asc">
                                <input type="hidden" name="date" value="old">
                                <input type="hidden" name="tags" value="">
                            </div>

                            <div id="block_member" class="row justify-content-evenly">
                                @Html.Partial("~/Views/Member/Item_Member.cshtml", members)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="s_title pt40 o_colored_level pb0" data-vcss="001" data-snippet="s_title" data-name="Title"
            style="background-image: none;">
            <div class="s_allow_columns container">
                <h2 style="text-align: left;">Bài&nbsp;viết liên quan</h2>
                <div class="s_hr text-start pt0 pb56" data-snippet="s_hr" data-name="Separator"
                    style="text-align: left;">
                    <hr class="me-auto w-25"
                        style="text-align: left;border-top-color: rgb(207, 33, 49);border-top-width: 3px !important;" />
                </div>
                <div class="s_hr text-start pt0 pb0" data-snippet="s_hr" data-name="Separator">
                </div>
            </div>
        </section>

        <section class="s_three_columns pb64 o_colored_level pt32" data-vcss="001" data-snippet="s_three_columns"
            style="position: relative; background-image: none;"
            data-oe-shape-data="{&#34;shape&#34;:&#34;web_editor/Wavy/12_001&#34;,&#34;flip&#34;:[]}"
            data-name="Chỉnh Chỉnh Columns (3)">
            <div class="o_we_shape o_web_editor_Wavy_12_001"></div>
            <div class="container-fluid">
                <div class="row d-flex align-items-start">
                    @foreach (var item in related)
                    {
                        <div class="s_col_no_bgcolor pt16 pb16 col-lg-2 @(item == related.First()?"offset-lg-1": "")">
                            <div class="card text-bg-white h-100 shadow border"
                                style="border-width: 1px !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                                <a href="@Url.Action("ProfessionDetail", "Home", new{id=item.Id})" data-bs-original-title=""
                                    title="">
                                    <img src="@item.Image" alt="" class="card-img-top img img-fluid o_we_custom_image"
                                        data-original-id="1046" data-original-src="/web/image/1046-8a04dfcc/Beautiful.jpeg"
                                        data-mimetype="image/jpeg" data-resize-width="275" data-bs-original-title=""
                                        title="" aria-describedby="tooltip676463" loading="lazy" />
                                </a>
                                <div class="card-body" style="padding-left: 8px;padding-top: 8px;padding-bottom: 8px;">
                                    <h6 class="card-title" style="padding: 0px;">
                                        <span style="font-size: 18px;">
                                            <font class="text-800 o_default_snippet_text">
                                                @item?.Title?.Replace("Nhóm",
                                                         "Team")
                                            </font>
                                        </span>
                                        <br />
                                    </h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <section class="s_call_to_action pt64 pb48 o_colored_level o_cc o_cc3" data-snippet="s_call_to_action"
            data-name="Call to Action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 pb16 o_colored_level">
                        <h3 class="o_default_snippet_text">
                            <b class="o_default_snippet_text">50,000+ công ty</b> đang sử
                            dụng hệ thống để phát triển việc kinh doanh của họ.
                        </h3>
                        <p class="o_default_snippet_text">
                            Gia nhập với chúng tôi và tạo cho công ty bạn một vị thế tốt
                            hơn.
                        </p>
                    </div>
                    <div class="col-lg-3 pt8 o_colored_level">
                        <p style="text-align: right;">
                            <a class="btn btn-primary btn-lg mb-2 o_default_snippet_text" href="/Contact">
                                Liên
                                hệ
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script>
    $(function () {
        $("#btn_search").on("click", function () {
            var keyword = $("#member-search-query").val();
            if (keyword) { Search(keyword); }
        });

        $("#btn_close_search").on("click", function () {
            Search("");
            $("#btn_close_search").hide();
        });
    });

    function Search(keyword = "") {
        $.ajax({
            type: "POST",
            url: "/Member/MemberSearch",
            data: { keyword: keyword },
            success: function (data) {
                console.log(data);
                $("#block_member").html(data.view);
                $("#block_member").attr("class", "row justify-content-evenly");
                $("#btn_search").find("span").remove();
                if (!(keyword == "")) {
                    $("#btn_search").append(`<span class="oe_search_found"><small>(${data.count} kết quả)</small></span>`);
                    $("#btn_close_search").show();
                }
                $("#member-search-query").val("");
            },
            error: function (data) {
                console.error(data)
            }
        });
    }
</script>